# Vapi Configuration (Create a free account at Vapi.ai to get your keys)
NEXT_PUBLIC_VAPI_PUBLIC_KEY=paste_your_public_key_here
NEXT_PUBLIC_VAPI_ASSISTANT_ID=paste_your_assistant_id_here
OPENWEATHER_API_KEY=enter_openweather_key_here